rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /hangul_messages/{postId} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if true;
    }
    match /hangul_messages/{postId}/replies/{replyId} {
      allow read, write: if true;
    }
    // Necessário para collectionGroup(db, 'replies') em deleteUserData
    match /{path=**}/replies/{replyId} {
      allow read, write: if true;
    }

    match /hangul_usernames/{username} {
      allow read: if true;
      allow write: if true;
    }

    match /hangul_fcm_tokens/{tokenId} {
      allow read: if false;
      allow write: if true;
    }

    match /hangul_bans/{userId} {
      allow read: if true;
      allow write: if true;
    }

    match /hangul_mentions/{mentionId} {
      allow read: if true;
      allow write: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
